@{
    ViewData["Title"] = "Type";
}

<h3>Select Ride Type</h3>

<div class="container" style="display: flex; align-items:center; justify-content: center; width:100%; height:75vh">
    <div class="row text-center">
        <div class="col-sm-3">
            <a class="btn btn-success" asp-action="Book" asp-controller="Home" asp-area="Account"><span>SUV</span></a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success" asp-action="Book" asp-controller="Home" asp-area="Account"><span>Sedan</span></a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success" asp-action="Book" asp-controller="Home" asp-area="Account"><span>Economic</span></a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success" asp-action="Book" asp-controller="Home" asp-area="Account"><span>Auto</span></a>
        </div>
    </div>

</div>
