@using CabManagementSystems.Models.ViewModel;
@model DriverRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                        <option>--- Select a Gender ---</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Car"></label>
                    <select asp-for="Car" asp-items="@Html.GetEnumSelectList<CarModel>()" class="form-control">
                        <option>--- Select a type ---</option>
                    </select>
                    <span asp-validation-for="Car" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Dob"></label>
                    <input asp-for="Dob" class="form-control" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="CarName"></label>
                    <input asp-for="CarName" class="form-control" />
                    <span asp-validation-for="CarName" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="CarNumber"></label>
                    <input asp-for="CarNumber" class="form-control" />
                    <span asp-validation-for="CarNumber" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Register</button>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>
