@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="display: flex; align-items:center; justify-content: center; width:100%; height:75vh">
    <div class="row text-center">
        <div class="col-sm-6">
            <a class="btn btn-success" asp-action="Index" asp-controller="Home" asp-area="Account"><span>User</span></a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success" asp-action="DriverIndex" asp-controller="Home" asp-area="Driver"><span>Driver</span></a>
        </div>
    </div>

</div>
